  python-dotenv
  pandas
  numpy
  pymongo 
  certifi
  pymongo[srv]==4.13.2
  pymongo
  scikit-learn
  mlflow
#   -e .
pyaml
dill
dagshub
mlflow
fastapi
dagshub
uvicorn
setuptools
python-multipart
wheels